{% extends 'myapp/base.html' %}

{% block content %}
   <a href="/product/create">Create</a> 

    {% for product in products%}
        <div class="container">
  <div class="card">
    <div class="card-header">
      <img src="/media/{{ product.image }}" alt="{{ product.product_name }}" />
    </div>
    <div class="card-body">
      <h1>
        {{ product.product_name }}
      </h1>
      <a href="/product/{{ product.id }}"><button>Show</button></a>
  </div>
</div>
</div>
  
    {% endfor %}
{% endblock %}